  /* Estilo de la barra de navegación*/

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
  }

  body{
    background-color: #000000;
  }

  .header{
    background-color: rgb(209, 202, 110);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    padding: 5px 10%;
  }

  .header .logo{
    cursor: pointer;
  }


  .header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
  }

  .header .logo img:hover{
    transform: scale(1.2);
  }

  .header .nav-links{
    list-style: none;
  }

  .header .nav-links li{
    display: inline-block;
    padding: 0px 20px;
  }

  .header .nav-links li:hover{
    transform: scale(1.1);

  }

  .header .nav-links a{
    font-size: 700;
    color: #fffdfd;
    text-decoration: none;
  }

  .header .nav-links li a:hover{
    color: rgb(238, 255, 0);
  }

  .header .btn button{
    font-weight: 700;
    color: #333;
    padding: 9px 25px;
    background: #fffdfd;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }

  .header .btn button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transform: scale(1.1);
  }




  /*Estilo del cuerpo de la pagina*/
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .box {
    width: 300px;
    height: 400px;
    margin: 10px;
    background-color: rgb(209, 202, 110);
    border: 1px solid #ccc;
    text-align: center;
    padding: 20px;
  }

  .box img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }

  .box h3 {
    margin: 0;
  }

  .box a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }